In [1]:
from sqlalchemy import dialects
import pandas as pd
import numpy as np
import pymysql
import yfinance as yf

pip install pandas

In [2]:
import sqlalchemy

In [3]:
wiki="https://en.wikipedia.org/wiki/"

In [4]:
tickers_nifty_next50 = pd.read_html(wiki+"NIFTY_Next_50")[1].Symbol.to_list()
tickers_nifty50 = pd.read_html(wiki+"NIFTY_50")[1].Symbol.to_list()

In [5]:
tickers_nifty50 = [i+ ".NS" for i in tickers_nifty50]
tickers_nifty_next50 = [i+ ".NS" for i in tickers_nifty_next50]

In [6]:
tickers_nifty50

['ADANIPORTS.NS',
 'APOLLOHOSP.NS',
 'ASIANPAINT.NS',
 'AXISBANK.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BHARTIARTL.NS',
 'BPCL.NS',
 'BRITANNIA.NS',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DIVISLAB.NS',
 'DRREDDY.NS',
 'EICHERMOT.NS',
 'GRASIM.NS',
 'HCLTECH.NS',
 'HDFC.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HEROMOTOCO.NS',
 'HINDALCO.NS',
 'HINDUNILVR.NS',
 'ICICIBANK.NS',
 'INDUSINDBK.NS',
 'INFY.NS',
 'ITC.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.NS',
 'LT.NS',
 'M&M.NS',
 'MARUTI.NS',
 'NESTLEIND.NS',
 'NTPC.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBIN.NS',
 'SBILIFE.NS',
 'SHREECEM.NS',
 'SUNPHARMA.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TCS.NS',
 'TATACONSUM.NS',
 'TECHM.NS',
 'TITAN.NS',
 'ULTRACEMCO.NS',
 'UPL.NS',
 'WIPRO.NS']

In [7]:
import datetime as dt

def getdata(tickers):
    data = []
    for ticker in tickers:
        data.append(yf.download(ticker,start = "2022-01-01",end = dt.datetime.today()).reset_index())
    return data

nifty50 = getdata(tickers_nifty50)

nifty_next50 = getdata(tickers_nifty_next50)

In [8]:
indices =["nifty_50","nifty_next_50"]

In [9]:
pymysql.install_as_MySQLdb()

In [10]:
def schema_creator(index):
    engine = sqlalchemy.create_engine("mysql://root:12345@127.0.0.1:3306/")
    engine.execute(sqlalchemy.schema.CreateSchema(index))

In [11]:
for index in indices:
    schema_creator(index)

In [12]:
print("tickers nifty 50")
print(tickers_nifty50)
print("--------------------------")
print("tickers_nifty_next_50")
print(tickers_nifty_next50)

tickers nifty 50
['ADANIPORTS.NS', 'APOLLOHOSP.NS', 'ASIANPAINT.NS', 'AXISBANK.NS', 'BAJAJ-AUTO.NS', 'BAJFINANCE.NS', 'BAJAJFINSV.NS', 'BHARTIARTL.NS', 'BPCL.NS', 'BRITANNIA.NS', 'CIPLA.NS', 'COALINDIA.NS', 'DIVISLAB.NS', 'DRREDDY.NS', 'EICHERMOT.NS', 'GRASIM.NS', 'HCLTECH.NS', 'HDFC.NS', 'HDFCBANK.NS', 'HDFCLIFE.NS', 'HEROMOTOCO.NS', 'HINDALCO.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'INDUSINDBK.NS', 'INFY.NS', 'ITC.NS', 'JSWSTEEL.NS', 'KOTAKBANK.NS', 'LT.NS', 'M&M.NS', 'MARUTI.NS', 'NESTLEIND.NS', 'NTPC.NS', 'ONGC.NS', 'POWERGRID.NS', 'RELIANCE.NS', 'SBIN.NS', 'SBILIFE.NS', 'SHREECEM.NS', 'SUNPHARMA.NS', 'TATAMOTORS.NS', 'TATASTEEL.NS', 'TCS.NS', 'TATACONSUM.NS', 'TECHM.NS', 'TITAN.NS', 'ULTRACEMCO.NS', 'UPL.NS', 'WIPRO.NS']
--------------------------
tickers_nifty_next_50
['ACC.NS', 'ADANIENT.NS', 'ADANIGREEN.NS', 'ADANITRANS.NS', 'AMBUJACEM.NS', 'DMART.NS', 'BAJAJHLDNG.NS', 'BANDHANBNK.NS', 'BANKBARODA.NS', 'BERGEPAINT.NS', 'BIOCON.NS', 'BOSCHLTD.NS', 'CHOLAFIN.NS', 'COLPAL.NS', 'DABUR.NS', 'DLF.NS', 'GAIL.NS', 'GLAND.NS', 'GODREJCP.NS', 'HAVELLS.NS', 'HDFCAMC.NS', 'ICICIGI.NS', 'ICICIPRULI.NS', 'IOC.NS', 'INDUSTOWER.NS', 'NAUKRI.NS', 'INDIGO.NS', 'JUBLFOOD.NS', 'LTI.NS', 'LUPIN.NS', 'MARICO.NS', 'MINDTREE.NS', 'MUTHOOTFIN.NS', 'NMDC.NS', 'NYKAA.NS', 'PAYTM.NS', 'PIIND.NS', 'PIDILITIND.NS', 'PEL.NS', 'PGHH.NS', 'PNB.NS', 'SBICARD.NS', 'SIEMENS.NS', 'SRF.NS', 'SAIL.NS', 'TORNTPHARM.NS', 'MCDOWELL-N.NS', 'VEDL.NS', 'ZOMATO.NS', 'ZYDUSLIFE.NS']

In [13]:
mapper = {"nifty_50":tickers_nifty50,"nifty_next_50":tickers_nifty_next50}

In [14]:
for index in indices:
    engine = sqlalchemy.create_engine("mysql://root:12345@127.0.0.1:3306/"+index)
    for symbol in mapper[index]:
        df = yf.download(symbol,start = "2021-05-01",end = dt.datetime.today())
        df = df.reset_index()
        df.to_sql(symbol,engine)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ADANIPORTS.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'APOLLOHOSP.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ASIANPAINT.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'AXISBANK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BAJAJ-AUTO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BAJFINANCE.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BAJAJFINSV.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BHARTIARTL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BPCL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BRITANNIA.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'CIPLA.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'COALINDIA.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'DIVISLAB.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'DRREDDY.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'EICHERMOT.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'GRASIM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'HCLTECH.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'HDFC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'HDFCBANK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'HDFCLIFE.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'HEROMOTOCO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'HINDALCO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'HINDUNILVR.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ICICIBANK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'INDUSINDBK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'INFY.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ITC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'JSWSTEEL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'KOTAKBANK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'LT.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'M&M.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'MARUTI.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'NESTLEIND.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'NTPC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ONGC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'POWERGRID.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'RELIANCE.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SBIN.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SBILIFE.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SHREECEM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SUNPHARMA.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'TATAMOTORS.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'TATASTEEL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'TCS.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'TATACONSUM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'TECHM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'TITAN.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ULTRACEMCO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'UPL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'WIPRO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ACC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ADANIENT.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ADANIGREEN.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ADANITRANS.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'AMBUJACEM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'DMART.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BAJAJHLDNG.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BANDHANBNK.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BANKBARODA.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BERGEPAINT.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BIOCON.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'BOSCHLTD.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'CHOLAFIN.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'COLPAL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'DABUR.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'DLF.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'GAIL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'GLAND.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'GODREJCP.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'HAVELLS.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'HDFCAMC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ICICIGI.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ICICIPRULI.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'IOC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'INDUSTOWER.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'NAUKRI.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'INDIGO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'JUBLFOOD.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'LTI.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'LUPIN.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'MARICO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'MINDTREE.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'MUTHOOTFIN.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'NMDC.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'NYKAA.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'PAYTM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'PIIND.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'PIDILITIND.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'PEL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'PGHH.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'PNB.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SBICARD.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SIEMENS.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SRF.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'SAIL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'TORNTPHARM.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'MCDOWELL-N.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'VEDL.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ZOMATO.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

[*********************100%***********************]  1 of 1 completed

C:\Users\91983\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'ZYDUSLIFE.NS' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)