In [1]:
import pymysql
import pandas as pd
import numpy as np
import ta #technical indicators liabrary
import sqlalchemy
import yfinance as yf
pymysql.install_as_MySQLdb()

In [2]:
pymysql.install_as_MySQLdb()

In [3]:
engine = sqlalchemy.create_engine("mysql://root:12345@localhost:3306")

In [4]:
## getting table names and schema names from sql database

def gettables(index):
    query = f"""SELECT table_name FROM information_schema.tables
    WHERE table_schema = '{index}'"""
    df = pd.read_sql(query,engine)
    df["schema"] = index
    return df

In [5]:
nifty50 = gettables("nifty_50")

In [6]:
nifty50

       TABLE_NAME    schema
0   adaniports.ns  nifty_50
1   apollohosp.ns  nifty_50
2   asianpaint.ns  nifty_50
3     axisbank.ns  nifty_50
4   bajaj-auto.ns  nifty_50
5   bajajfinsv.ns  nifty_50
6   bajfinance.ns  nifty_50
7   bhartiartl.ns  nifty_50
8         bpcl.ns  nifty_50
9    britannia.ns  nifty_50
10       cipla.ns  nifty_50
11   coalindia.ns  nifty_50
12    divislab.ns  nifty_50
13     drreddy.ns  nifty_50
14   eichermot.ns  nifty_50
15      grasim.ns  nifty_50
16     hcltech.ns  nifty_50
17        hdfc.ns  nifty_50
18    hdfcbank.ns  nifty_50
19    hdfclife.ns  nifty_50
20  heromotoco.ns  nifty_50
21    hindalco.ns  nifty_50
22  hindunilvr.ns  nifty_50
23   icicibank.ns  nifty_50
24  indusindbk.ns  nifty_50
25        infy.ns  nifty_50
26         itc.ns  nifty_50
27    jswsteel.ns  nifty_50
28   kotakbank.ns  nifty_50
29          lt.ns  nifty_50
30         m&m.ns  nifty_50
31      maruti.ns  nifty_50
32   nestleind.ns  nifty_50
33        ntpc.ns  nifty_50
34        ongc.ns  nifty_50
35   powergrid.ns  nifty_50
36    reliance.ns  nifty_50
37     sbilife.ns  nifty_50
38        sbin.ns  nifty_50
39    shreecem.ns  nifty_50
40   sunpharma.ns  nifty_50
41  tataconsum.ns  nifty_50
42  tatamotors.ns  nifty_50
43   tatasteel.ns  nifty_50
44         tcs.ns  nifty_50
45       techm.ns  nifty_50
46       titan.ns  nifty_50
47  ultracemco.ns  nifty_50
48         upl.ns  nifty_50
49       wipro.ns  nifty_50

In [7]:
## getting date and close price
def getprices(abc): # have to pass a parameter ie schema name nifty50...
    prices=[]
    for table, schema in zip(abc.TABLE_NAME,abc.schema): #looping through tables insidde the schema
        sql = schema+"."+f'`{table}`'#sql syntax for requesting data
        prices.append(pd.read_sql(f"SELECT date,Close FROM {sql}",engine))
    return prices

In [8]:
getprices(nifty50)

[          date       Close
 0   2021-05-03  761.400024
 1   2021-05-04  768.750000
 2   2021-05-05  738.099976
 3   2021-05-06  740.799988
 4   2021-05-07  767.750000
 ..         ...         ...
 254 2022-05-11  759.900024
 255 2022-05-12  713.299988
 256 2022-05-13  705.900024
 257 2022-05-16  712.500000
 258 2022-05-17  744.750000

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  3204.300049
 1   2021-05-04  3181.250000
 2   2021-05-05  3332.899902
 3   2021-05-06  3347.149902
 4   2021-05-07  3310.850098
 ..         ...          ...
 254 2022-05-11  3679.649902
 255 2022-05-12  3580.850098
 256 2022-05-13  3547.800049
 257 2022-05-16  3686.750000
 258 2022-05-17  3813.149902

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  2582.149902
 1   2021-05-04  2587.149902
 2   2021-05-05  2567.649902
 3   2021-05-06  2549.050049
 4   2021-05-07  2551.649902
 ..         ...          ...
 254 2022-05-11  3053.649902
 255 2022-05-12  3039.949951
 256 2022-05-13  3064.000000
 257 2022-05-16  2999.899902
 258 2022-05-17  3050.000000

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  702.750000
 1   2021-05-04  700.349976
 2   2021-05-05  717.200012
 3   2021-05-06  715.750000
 4   2021-05-07  716.750000
 ..         ...         ...
 254 2022-05-11  672.349976
 255 2022-05-12  649.650024
 256 2022-05-13  635.950012
 257 2022-05-16  638.950012
 258 2022-05-17  654.950012

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  3851.850098
 1   2021-05-04  3830.350098
 2   2021-05-05  3843.800049
 3   2021-05-06  3941.199951
 4   2021-05-07  3866.750000
 ..         ...          ...
 254 2022-05-11  3612.850098
 255 2022-05-12  3585.000000
 256 2022-05-13  3642.100098
 257 2022-05-16  3715.850098
 258 2022-05-17  3742.899902

 [259 rows x 2 columns],
           date         Close
 0   2021-05-03  11041.700195
 1   2021-05-04  10986.450195
 2   2021-05-05  11114.450195
 3   2021-05-06  11027.950195
 4   2021-05-07  11318.450195
 ..         ...           ...
 254 2022-05-11  13329.799805
 255 2022-05-12  12850.700195
 256 2022-05-13  12608.299805
 257 2022-05-16  12655.250000
 258 2022-05-17  12972.099609

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  5551.149902
 1   2021-05-04  5615.750000
 2   2021-05-05  5515.149902
 3   2021-05-06  5528.799805
 4   2021-05-07  5493.799805
 ..         ...          ...
 254 2022-05-11  5807.000000
 255 2022-05-12  5593.399902
 256 2022-05-13  5515.750000
 257 2022-05-16  5645.399902
 258 2022-05-17  5837.299805

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  558.849976
 1   2021-05-04  552.450012
 2   2021-05-05  559.950012
 3   2021-05-06  558.750000
 4   2021-05-07  568.500000
 ..         ...         ...
 254 2022-05-11  722.849976
 255 2022-05-12  705.400024
 256 2022-05-13  689.900024
 257 2022-05-16  693.200012
 258 2022-05-17  707.049988

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  416.000000
 1   2021-05-04  421.450012
 2   2021-05-05  424.799988
 3   2021-05-06  434.000000
 4   2021-05-07  443.149994
 ..         ...         ...
 254 2022-05-11  347.100006
 255 2022-05-12  339.950012
 256 2022-05-13  336.950012
 257 2022-05-16  336.100006
 258 2022-05-17  342.450012

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  3439.250000
 1   2021-05-04  3435.850098
 2   2021-05-05  3451.600098
 3   2021-05-06  3452.050049
 4   2021-05-07  3461.250000
 ..         ...          ...
 254 2022-05-11  3259.850098
 255 2022-05-12  3216.850098
 256 2022-05-13  3278.500000
 257 2022-05-16  3284.899902
 258 2022-05-17  3368.850098

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  910.200012
 1   2021-05-04  878.450012
 2   2021-05-05  888.650024
 3   2021-05-06  884.299988
 4   2021-05-07  882.900024
 ..         ...         ...
 254 2022-05-11  937.599976
 255 2022-05-12  920.750000
 256 2022-05-13  934.599976
 257 2022-05-16  933.400024
 258 2022-05-17  938.000000

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  132.199997
 1   2021-05-04  132.800003
 2   2021-05-05  133.149994
 3   2021-05-06  134.600006
 4   2021-05-07  136.850006
 ..         ...         ...
 254 2022-05-11  169.850006
 255 2022-05-12  167.050003
 256 2022-05-13  168.699997
 257 2022-05-16  171.699997
 258 2022-05-17  184.550003

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  4074.000000
 1   2021-05-04  3985.350098
 2   2021-05-05  4035.449951
 3   2021-05-06  4063.050049
 4   2021-05-07  4029.100098
 ..         ...          ...
 254 2022-05-11  4293.799805
 255 2022-05-12  4233.399902
 256 2022-05-13  4281.100098
 257 2022-05-16  4218.100098
 258 2022-05-17  4303.350098

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  5185.950195
 1   2021-05-04  5067.250000
 2   2021-05-05  5160.950195
 3   2021-05-06  5168.450195
 4   2021-05-07  5174.700195
 ..         ...          ...
 254 2022-05-11  3884.050049
 255 2022-05-12  3880.000000
 256 2022-05-13  3924.300049
 257 2022-05-16  3888.399902
 258 2022-05-17  3904.000000

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  2396.250000
 1   2021-05-04  2368.000000
 2   2021-05-05  2372.399902
 3   2021-05-06  2443.250000
 4   2021-05-07  2417.149902
 ..         ...          ...
 254 2022-05-11  2389.149902
 255 2022-05-12  2384.649902
 256 2022-05-13  2432.649902
 257 2022-05-16  2617.949951
 258 2022-05-17  2706.699951

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  1414.550049
 1   2021-05-04  1415.949951
 2   2021-05-05  1420.900024
 3   2021-05-06  1447.900024
 4   2021-05-07  1449.599976
 ..         ...          ...
 254 2022-05-11  1535.349976
 255 2022-05-12  1485.849976
 256 2022-05-13  1475.099976
 257 2022-05-16  1452.250000
 258 2022-05-17  1481.400024

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03   907.700012
 1   2021-05-04   900.950012
 2   2021-05-05   909.400024
 3   2021-05-06   916.000000
 4   2021-05-07   916.400024
 ..         ...          ...
 254 2022-05-11  1060.900024
 255 2022-05-12  1059.400024
 256 2022-05-13  1052.150024
 257 2022-05-16  1044.550049
 258 2022-05-17  1082.900024

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  2418.500000
 1   2021-05-04  2377.199951
 2   2021-05-05  2377.600098
 3   2021-05-06  2430.100098
 4   2021-05-07  2496.750000
 ..         ...          ...
 254 2022-05-11  2219.100098
 255 2022-05-12  2150.449951
 256 2022-05-13  2132.949951
 257 2022-05-16  2172.100098
 258 2022-05-17  2190.550049

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  1414.449951
 1   2021-05-04  1388.349976
 2   2021-05-05  1402.599976
 3   2021-05-06  1400.900024
 4   2021-05-07  1414.750000
 ..         ...          ...
 254 2022-05-11  1348.599976
 255 2022-05-12  1303.050049
 256 2022-05-13  1291.349976
 257 2022-05-16  1305.099976
 258 2022-05-17  1314.000000

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  671.900024
 1   2021-05-04  667.849976
 2   2021-05-05  674.400024
 3   2021-05-06  671.799988
 4   2021-05-07  672.650024
 ..         ...         ...
 254 2022-05-11  563.549988
 255 2022-05-12  547.250000
 256 2022-05-13  550.750000
 257 2022-05-16  549.700012
 258 2022-05-17  554.849976

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  2793.250000
 1   2021-05-04  2776.750000
 2   2021-05-05  2788.199951
 3   2021-05-06  2913.300049
 4   2021-05-07  2860.800049
 ..         ...          ...
 254 2022-05-11  2470.300049
 255 2022-05-12  2401.199951
 256 2022-05-13  2449.149902
 257 2022-05-16  2495.899902
 258 2022-05-17  2523.500000

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  369.950012
 1   2021-05-04  362.549988
 2   2021-05-05  367.100006
 3   2021-05-06  385.950012
 4   2021-05-07  401.100006
 ..         ...         ...
 254 2022-05-11  422.549988
 255 2022-05-12  405.850006
 256 2022-05-13  388.000000
 257 2022-05-16  390.950012
 258 2022-05-17  428.399994

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  2408.000000
 1   2021-05-04  2407.649902
 2   2021-05-05  2394.649902
 3   2021-05-06  2390.000000
 4   2021-05-07  2411.199951
 ..         ...          ...
 254 2022-05-11  2163.500000
 255 2022-05-12  2138.800049
 256 2022-05-13  2194.100098
 257 2022-05-16  2217.250000
 258 2022-05-17  2245.000000

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  596.750000
 1   2021-05-04  591.549988
 2   2021-05-05  602.799988
 3   2021-05-06  608.200012
 4   2021-05-07  607.099976
 ..         ...         ...
 254 2022-05-11  714.200012
 255 2022-05-12  695.799988
 256 2022-05-13  677.349976
 257 2022-05-16  683.000000
 258 2022-05-17  710.000000

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  913.599976
 1   2021-05-04  910.150024
 2   2021-05-05  931.150024
 3   2021-05-06  924.950012
 4   2021-05-07  926.200012
 ..         ...         ...
 254 2022-05-11  923.349976
 255 2022-05-12  869.900024
 256 2022-05-13  872.349976
 257 2022-05-16  885.900024
 258 2022-05-17  903.849976

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  1352.050049
 1   2021-05-04  1329.400024
 2   2021-05-05  1341.500000
 3   2021-05-06  1361.599976
 4   2021-05-07  1352.550049
 ..         ...          ...
 254 2022-05-11  1526.750000
 255 2022-05-12  1508.800049
 256 2022-05-13  1504.400024
 257 2022-05-16  1489.099976
 258 2022-05-17  1518.449951

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  200.949997
 1   2021-05-04  199.600006
 2   2021-05-05  201.399994
 3   2021-05-06  202.750000
 4   2021-05-07  205.350006
 ..         ...         ...
 254 2022-05-11  255.649994
 255 2022-05-12  252.899994
 256 2022-05-13  258.600006
 257 2022-05-16  254.100006
 258 2022-05-17  264.700012

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  723.250000
 1   2021-05-04  715.400024
 2   2021-05-05  717.700012
 3   2021-05-06  729.799988
 4   2021-05-07  756.950012
 ..         ...         ...
 254 2022-05-11  648.950012
 255 2022-05-12  624.799988
 256 2022-05-13  600.450012
 257 2022-05-16  602.299988
 258 2022-05-17  641.849976

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  1725.449951
 1   2021-05-04  1732.650024
 2   2021-05-05  1770.750000
 3   2021-05-06  1788.250000
 4   2021-05-07  1780.349976
 ..         ...          ...
 254 2022-05-11  1809.949951
 255 2022-05-12  1760.900024
 256 2022-05-13  1779.550049
 257 2022-05-16  1812.849976
 258 2022-05-17  1840.300049

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  1342.500000
 1   2021-05-04  1337.599976
 2   2021-05-05  1338.650024
 3   2021-05-06  1339.900024
 4   2021-05-07  1342.699951
 ..         ...          ...
 254 2022-05-11  1570.800049
 255 2022-05-12  1526.150024
 256 2022-05-13  1534.500000
 257 2022-05-16  1542.900024
 258 2022-05-17  1604.099976

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  752.950012
 1   2021-05-04  741.150024
 2   2021-05-05  747.549988
 3   2021-05-06  747.400024
 4   2021-05-07  767.400024
 ..         ...         ...
 254 2022-05-11  887.049988
 255 2022-05-12  865.250000
 256 2022-05-13  889.500000
 257 2022-05-16  903.349976
 258 2022-05-17  910.799988

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  6597.850098
 1   2021-05-04  6508.250000
 2   2021-05-05  6590.100098
 3   2021-05-06  6666.649902
 4   2021-05-07  6703.049805
 ..         ...          ...
 254 2022-05-11  7396.450195
 255 2022-05-12  7253.649902
 256 2022-05-13  7101.950195
 257 2022-05-16  7247.600098
 258 2022-05-17  7532.799805

 [259 rows x 2 columns],
           date         Close
 0   2021-05-03  16506.750000
 1   2021-05-04  16546.599609
 2   2021-05-05  16549.250000
 3   2021-05-06  16717.599609
 4   2021-05-07  16761.349609
 ..         ...           ...
 254 2022-05-11  16512.400391
 255 2022-05-12  16220.000000
 256 2022-05-13  16402.949219
 257 2022-05-16  16218.849609
 258 2022-05-17  16323.400391

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  104.250000
 1   2021-05-04  103.750000
 2   2021-05-05  103.900002
 3   2021-05-06  103.050003
 4   2021-05-07  105.050003
 ..         ...         ...
 254 2022-05-11  152.550003
 255 2022-05-12  148.550003
 256 2022-05-13  144.149994
 257 2022-05-16  148.250000
 258 2022-05-17  150.500000

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  107.699997
 1   2021-05-04  109.650002
 2   2021-05-05  111.099998
 3   2021-05-06  110.250000
 4   2021-05-07  111.449997
 ..         ...         ...
 254 2022-05-11  158.600006
 255 2022-05-12  156.500000
 256 2022-05-13  153.550003
 257 2022-05-16  153.500000
 258 2022-05-17  163.149994

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  165.600037
 1   2021-05-04  163.537537
 2   2021-05-05  163.650040
 3   2021-05-06  161.550034
 4   2021-05-07  160.912537
 ..         ...         ...
 254 2022-05-11  239.199997
 255 2022-05-12  235.899994
 256 2022-05-13  236.300003
 257 2022-05-16  235.199997
 258 2022-05-17  238.649994

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  1959.050049
 1   2021-05-04  1916.599976
 2   2021-05-05  1920.099976
 3   2021-05-06  1931.000000
 4   2021-05-07  1931.750000
 ..         ...          ...
 254 2022-05-11  2449.300049
 255 2022-05-12  2399.399902
 256 2022-05-13  2426.600098
 257 2022-05-16  2427.199951
 258 2022-05-17  2529.149902

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03   958.599976
 1   2021-05-04   982.900024
 2   2021-05-05   973.099976
 3   2021-05-06   969.400024
 4   2021-05-07  1000.250000
 ..         ...          ...
 254 2022-05-11  1087.150024
 255 2022-05-12  1060.599976
 256 2022-05-13  1044.949951
 257 2022-05-16  1044.650024
 258 2022-05-17  1070.400024

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  350.600006
 1   2021-05-04  351.500000
 2   2021-05-05  355.399994
 3   2021-05-06  355.549988
 4   2021-05-07  358.250000
 ..         ...         ...
 254 2022-05-11  476.549988
 255 2022-05-12  462.649994
 256 2022-05-13  444.649994
 257 2022-05-16  455.000000
 258 2022-05-17  467.299988

 [259 rows x 2 columns],
           date         Close
 0   2021-05-03  27989.849609
 1   2021-05-04  27753.300781
 2   2021-05-05  27844.199219
 3   2021-05-06  27736.199219
 4   2021-05-07  27840.000000
 ..         ...           ...
 254 2022-05-11  23382.300781
 255 2022-05-12  22627.400391
 256 2022-05-13  22565.349609
 257 2022-05-16  21980.849609
 258 2022-05-17  22035.800781

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  659.200012
 1   2021-05-04  645.150024
 2   2021-05-05  683.400024
 3   2021-05-06  679.400024
 4   2021-05-07  679.450012
 ..         ...         ...
 254 2022-05-11  854.799988
 255 2022-05-12  850.000000
 256 2022-05-13  882.500000
 257 2022-05-16  885.599976
 258 2022-05-17  891.750000

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  677.099976
 1   2021-05-04  645.250000
 2   2021-05-05  649.049988
 3   2021-05-06  653.099976
 4   2021-05-07  629.000000
 ..         ...         ...
 254 2022-05-11  744.099976
 255 2022-05-12  738.049988
 256 2022-05-13  737.599976
 257 2022-05-16  735.500000
 258 2022-05-17  734.250000

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  293.000000
 1   2021-05-04  289.450012
 2   2021-05-05  291.500000
 3   2021-05-06  301.250000
 4   2021-05-07  302.750000
 ..         ...         ...
 254 2022-05-11  388.149994
 255 2022-05-12  372.299988
 256 2022-05-13  404.299988
 257 2022-05-16  405.350006
 258 2022-05-17  424.149994

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  1064.750000
 1   2021-05-04  1063.849976
 2   2021-05-05  1070.150024
 3   2021-05-06  1100.900024
 4   2021-05-07  1182.349976
 ..         ...          ...
 254 2022-05-11  1165.699951
 255 2022-05-12  1117.699951
 256 2022-05-13  1097.000000
 257 2022-05-16  1103.500000
 258 2022-05-17  1188.699951

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  3037.000000
 1   2021-05-04  3049.750000
 2   2021-05-05  3095.699951
 3   2021-05-06  3111.449951
 4   2021-05-07  3132.899902
 ..         ...          ...
 254 2022-05-11  3412.000000
 255 2022-05-12  3408.649902
 256 2022-05-13  3414.899902
 257 2022-05-16  3376.800049
 258 2022-05-17  3451.600098

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03   957.700012
 1   2021-05-04   960.400024
 2   2021-05-05   960.400024
 3   2021-05-06   977.950012
 4   2021-05-07   980.950012
 ..         ...          ...
 254 2022-05-11  1224.449951
 255 2022-05-12  1212.800049
 256 2022-05-13  1202.849976
 257 2022-05-16  1189.050049
 258 2022-05-17  1198.199951

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  1423.949951
 1   2021-05-04  1402.900024
 2   2021-05-05  1428.400024
 3   2021-05-06  1444.400024
 4   2021-05-07  1446.500000
 ..         ...          ...
 254 2022-05-11  2114.699951
 255 2022-05-12  2048.550049
 256 2022-05-13  2091.699951
 257 2022-05-16  2109.600098
 258 2022-05-17  2176.350098

 [259 rows x 2 columns],
           date        Close
 0   2021-05-03  6350.149902
 1   2021-05-04  6296.450195
 2   2021-05-05  6380.350098
 3   2021-05-06  6405.450195
 4   2021-05-07  6481.899902
 ..         ...          ...
 254 2022-05-11  6340.200195
 255 2022-05-12  6185.450195
 256 2022-05-13  6196.549805
 257 2022-05-16  6012.799805
 258 2022-05-17  6107.750000

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  617.799988
 1   2021-05-04  611.250000
 2   2021-05-05  640.700012
 3   2021-05-06  633.000000
 4   2021-05-07  629.400024
 ..         ...         ...
 254 2022-05-11  792.150024
 255 2022-05-12  764.950012
 256 2022-05-13  781.549988
 257 2022-05-16  802.250000
 258 2022-05-17  817.349976

 [259 rows x 2 columns],
           date       Close
 0   2021-05-03  487.350006
 1   2021-05-04  481.950012
 2   2021-05-05  490.600006
 3   2021-05-06  512.299988
 4   2021-05-07  515.250000
 ..         ...         ...
 254 2022-05-11  471.899994
 255 2022-05-12  473.799988
 256 2022-05-13  468.649994
 257 2022-05-16  468.000000
 258 2022-05-17  486.649994

 [259 rows x 2 columns]]

In [9]:
 getprices(gettables("nifty_50"))[1]

          date        Close
0   2021-05-03  3204.300049
1   2021-05-04  3181.250000
2   2021-05-05  3332.899902
3   2021-05-06  3347.149902
4   2021-05-07  3310.850098
..         ...          ...
254 2022-05-11  3679.649902
255 2022-05-12  3580.850098
256 2022-05-13  3547.800049
257 2022-05-16  3686.750000
258 2022-05-17  3813.149902

[259 rows x 2 columns]

In [10]:
def MACD(df):
    df["MACD_diffrence"] = ta.trend.macd_diff(df.Close)
    df["MACD_signal"] = ta.trend.macd_signal(df.Close)
    df["MACD_desicion"] = np.where((df.MACD_diffrence > 0)& (df.MACD_diffrence.shift(1)<0),True,False)

In [11]:
def RSI_SMA(df):
    df["RSI"] = ta.momentum.rsi(df.Close,window =10)
    df["SMA200"] = ta.trend.sma_indicator(df.Close,window =200)
    df["DECISION_RSI_SMA"]= np.where((df.Close>df.SMA200)&(df.RSI<30),True,False)

In [12]:
def apply_technicals(which):
    prices = getprices(which)
    for frame in prices:
        MACD(frame)
        RSI_SMA(frame)
    return prices

In [13]:
def recommender(which):
    indicators = ["MACD_desicion","DECISION_RSI_SMA"]
    for symbol, frame in zip(which.TABLE_NAME,apply_technicals(which)):
        if frame.empty is False:
            for indicator in indicators:
                if frame[indicator].iloc[-1] == True:
                    print(f"{indicator} buying signal for " + symbol)

In [14]:
recommender(gettables("nifty_50"))

MACD_desicion buying signal for bajaj-auto.ns
MACD_desicion buying signal for britannia.ns
MACD_desicion buying signal for eichermot.ns
MACD_desicion buying signal for hcltech.ns
MACD_desicion buying signal for hdfc.ns